In [12]:
import pandas as pd
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
data = pd.read_csv("Transactions.csv")

In [3]:
data.head(2)

,IncomeExpenseReportId,CaseFileReportId,AccountId,Description,Amount,TransactionDate,IsExpense,TransactionCategoryId,CourtOrderTransaction,TransactionPaymentTypeId,Amended,RealEstateIncludesPropertyTaxes,RealEstatePropertyTaxesAmount,RealEstateIncludesPropertyInsurance,RealEstatePropertyInsuranceAmount,ProtectedPersonLivesAtCareFacility
0,4673,4815,2974,Happy Homes,1250.0,2014-04-15 00:00:00.000,1,185,0,1.0,0,0,NaN,0,NaN,1
1,4674,4815,2974,Target,104.0,2014-04-15 00:00:00.000,1,214,0,2.0,0,0,NaN,0,NaN,0

In [16]:
Transactions = pd.get_dummies(data,columns=['TransactionCategoryId','TransactionPaymentTypeId'])

In [18]:
Transactions.head(2)

,IncomeExpenseReportId,CaseFileReportId,AccountId,Description,Amount,TransactionDate,IsExpense,CourtOrderTransaction,Amended,RealEstateIncludesPropertyTaxes,RealEstatePropertyTaxesAmount,RealEstateIncludesPropertyInsurance,RealEstatePropertyInsuranceAmount,ProtectedPersonLivesAtCareFacility,TransactionCategoryId_157,TransactionCategoryId_158,TransactionCategoryId_159,TransactionCategoryId_160,TransactionCategoryId_162,TransactionCategoryId_163,TransactionCategoryId_164,TransactionCategoryId_165,TransactionCategoryId_167,TransactionCategoryId_168,TransactionCategoryId_171,TransactionCategoryId_172,TransactionCategoryId_173,TransactionCategoryId_174,TransactionCategoryId_175,TransactionCategoryId_176,TransactionCategoryId_178,TransactionCategoryId_179,TransactionCategoryId_180,TransactionCategoryId_181,TransactionCategoryId_182,TransactionCategoryId_183,TransactionCategoryId_184,TransactionCategoryId_185,TransactionCategoryId_186,TransactionCategoryId_187,TransactionCategoryId_188,TransactionCategoryId_189,TransactionCategoryId_190,TransactionCategoryId_191,TransactionCategoryId_192,TransactionCategoryId_193,TransactionCategoryId_194,TransactionCategoryId_195,TransactionCategoryId_196,TransactionCategoryId_197,TransactionCategoryId_198,TransactionCategoryId_199,TransactionCategoryId_200,TransactionCategoryId_201,TransactionCategoryId_202,TransactionCategoryId_203,TransactionCategoryId_204,TransactionCategoryId_205,TransactionCategoryId_206,TransactionCategoryId_207,TransactionCategoryId_208,TransactionCategoryId_209,TransactionCategoryId_210,TransactionCategoryId_212,TransactionCategoryId_213,TransactionCategoryId_214,TransactionCategoryId_216,TransactionCategoryId_217,TransactionCategoryId_218,TransactionCategoryId_220,TransactionCategoryId_221,TransactionCategoryId_222,TransactionCategoryId_223,TransactionCategoryId_224,TransactionCategoryId_225,TransactionCategoryId_226,TransactionCategoryId_227,TransactionCategoryId_228,TransactionCategoryId_229,TransactionCategoryId_230,TransactionCategoryId_231,TransactionCategoryId_232,TransactionCategoryId_233,TransactionCategoryId_234,TransactionCategoryId_235,TransactionCategoryId_236,TransactionCategoryId_238,TransactionCategoryId_239,TransactionCategoryId_240,TransactionCategoryId_242,TransactionCategoryId_243,TransactionCategoryId_245,TransactionCategoryId_247,TransactionCategoryId_249,TransactionCategoryId_250,TransactionPaymentTypeId_1.0,TransactionPaymentTypeId_2.0,TransactionPaymentTypeId_4.0,TransactionPaymentTypeId_5.0
0,4673,4815,2974,Happy Homes,1250.0,2014-04-15 00:00:00.000,1,0,0,0,NaN,0,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,4674,4815,2974,Target,104.0,2014-04-15 00:00:00.000,1,0,0,0,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [22]:
Transactions.drop(columns = ['TransactionDate','IsExpense','Description','Description','IncomeExpenseReportId','CaseFileReportId','AccountId'],inplace=True)

In [25]:
Transactions.fillna(value = 0,inplace=True)

In [27]:
Transactions.to_csv('transactions_result.csv')